body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 100px 0 100px 0;
  background-image: url(background.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  height: 500px;
}

.top-wrapper h1 {
  opacity: 0.8;
  font-size: 80px;
  letter-spacing: 5px;
}

.design {
  color: #87cefa
}

.tt {
  color: #da70d6
}

.top-wrapper p {
  opacity: 1;
  font-size: 30px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
}

.exhibition-img {
  width: 225px;
  height: 300px;
  float: left;
  padding: 50px 30px;
}

.exhibitions {
  display: inline-block;
  height: 400px;
  width: 650px;
  border: 1px solid #708090;
  margin: 30px;
  float: left;
}

.exhibitions:hover {
  opacity: 0.5;
}

.exhibition-title {
  font-size: 25px;
  line-height: 30px;
}

.info {
  font-size: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  float: left;
  line-height: 10px;
}

.exhibition-wrapper {
  margin-top: 80px;
}

.row {
  width: 1424px;
  height: 422px;
  margin: 0 auto;
}
